{
  "extends": [
    "react-app",
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:jsx-a11y/recommended",
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "**/*.tsx"
      ],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ],
  "rules": {
    "max-len": [2, {"code": 90}],
    "semi": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-max-props-per-line": [1,
      {
        "maximum": 1,
        "when": "always"
      }
    ],
    "click-events-have-key-events": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
}
